<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="Script/tgifstyle.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  



    </head>
    
    <body>

 <header>
            <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="home-starter-page.html">TGIF</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="home-starter-page.html">HOME</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">CONGRESS 113 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="senate-datacopia.html">SENATE</a></li>
                        <li><a href="house-data.html">HOUSE</a></li>
                    </ul>

                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Party Loyalty<span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                        <li><a href="senatehouse-attendance-starter-page.html">Senate</a></li>
                        <li><a href="house-party-loyalty-starter-page.html">House</a></li>
                    </ul>
                </li>
                <li><a href="home-starter-page.html">ABOUT</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </div>
    </nav>
        </header>
        <!--Table container-->
        <div id="vue-app">
            <div>
            <div class="espaco">
                <h2>Senators</h2>
            <p>First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S. Constitution. Each state is represented by two senators, regardless of population, who serve staggered six-year terms. The Senate has several exclusive powers not granted to the House, including consenting to treaties as a precondition to their ratification and consenting to or confirming appointments of Cabinet secretaries, federal judges, other federal executive officials, military officers, regulatory officials, ambassadors, and other federal uniformed officers, as well as trial of federal officials impeached by the House.</p>
            </div>
            
            <div class="selectores">
                <form action="" name="formulario">
                    <input @change='filterdouble' type="checkbox" id="D"  v-model="checkedBoxes" name="partido" value="D" >Democrat 
                <input @change='filterdouble' type="checkbox" id="R" v-model="checkedBoxes" name="partido" value="R">Republican 
                <input @change='filterdouble' type="checkbox" id="I" v-model="checkedBoxes" name="partido" value="I" >Independent
                <select @change='filterdouble'  name="estates" id="seletor" v-model='select' >
                    <option value="All" checked>All</option>
                    <option v-for='est in est1' :value='est' > {{est}}</option></select>
                </form>
            </div>
            <div class="spinner" v-show='loader'>
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                  </div>
            
    	    <table id="senate-data" class="table table-hover table table-condensed table-responsive" v-show='table1'>
                    
                <thead>
                    <tr class="active">
                        <th>First names</th>
                        <th>Party</th>
                        <th>State</th>
                        <th>Years in Office</th>
                        <th>%votes W/ party.</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr v-for='membro in membros'>
                       <td><a v-bind:href="membro.url" target="_blank"> {{membro.first_name}} {{membro.middle_name}} {{membro.last_name}} </a></td>
                       <td>{{membro.party}}</td>
                       <td>{{membro.state}}</td>
                       <td>{{membro.seniority}}</td>
                       <td>{{membro.votes_with_party_pct}}</td>
                        
                    </tr>
                  
              </tbody>
              
                
            </table>
            <div v-show='nFound'><h2>NOT FOUND.</h2></div>
    	</div>  
        </div>

           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
<!--          <script src="Script/Senate-comand-llamada.js"></script>-->
          <script src="Script/app.js"></script>
           

</body>
</html>